################################
# OS
################################
.DS_Store
Thumbs.db

################################
# IntelliJ / Java / Gradle
################################
.idea/
*.iml
out/
build/
.gradle/
target/

################################
# VS Code
################################
.vscode/

################################
# Python
################################
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/

################################
# Logs
################################
*.log

################################
# Docker
################################
*.pid
docker-data/
